
body { 
  background-color: #F6F6FF; 
  font-family: sans-serif; 
  padding: 0;
  margin: 0;
}

h1 { 
  margin: 10px;
  font-size: 140%;
  text-align: center; 
  text-transform: uppercase; 
}

fieldset { 
  background-color: #E6E6FF;
  border: #8686FF 3px solid; 
  padding: 10px 20px 20px;
} 

legend { 
  background-color: white; 
  border: #8686FF 3px solid; 
  font-size: 120%; 
  padding: 0px 10px; 
}

input { 
  font-family: monospace; 
}

.aviso {
  color: red;
}

.der { 
  text-align: right; 
  margin: 10px 0px; 
}

.derecha {
    float: right;
}

/* CSS para tabla*/
table{
	border-collapse: collapse;
	text-align:left;
}


tr td, tr th{
	border-bottom: 1px solid #000;
	padding: 0.6em 0.4em;
	line-height: 1.5em;
        text-align: center;
}

h2 a {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
}


