html, body { margin:0; padding: 0 0 65px; }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
#navi {  
    list-style:none;
    margin:0;
    padding:0;
}

#navi li {
        margin:2px;
        padding:2px;
        border:1px solid#CCCCCC;
}

#navi li:hover {
    background-color: grey;
}

ul li a {
    display:block;
    width:50%;
    padding:40px 10px 4px 10px;
    text-decoration:none;
    text-align:right;
    font-size:20px;
    color:#666666;
}

ul li a:hover {
    color:white;
}

.cabecera, .pie1, .pie2, .pie3 {
    background-color: DarkKhaki;
    text-align: center;
    padding: 10px 0px 10px 0px;
    height: 80px;
}

.pie1, .pie2, .pie3 { 
    position: fixed;
    bottom: 0;     
}
.pie1 { 
    width: 80%;
    bottom: 0;
    left: 0;
    color: gray;
}
.pie2 { 
    width: 20%; 
    botom: 0;
    right: 0;
    height: 37px;
}

.pie3 {
    width: 20%; 
    bottom: 45px;
    right: 0;
    height: 35px;
}

.pie2:hover, .pie3:hover {
    background-color:tan;
}

.opciones {
    background-color: AntiqueWhite;
    text-align: center;
    height: 120px;
    margin: 20px;
    border-radius: 10px;
}

.opciones:hover { background-color: DarkGrey; }

.opciones a {
    text-decoration:none;   
    color: Crimson;
    padding: 20px;
}

.tablas {
    background-color: AntiqueWhite;
}

.centrar {
        position: absolute;

        /*nos posicionamos en el centro del navegador*/

        top:50%;

        left:50%;

        /*determinamos una anchura*/

        width:800px;

        /*indicamos que el margen izquierdo, es la mitad de la anchura*/

        margin-left:-400px;

        /*determinamos una altura*/

        height:300px;

        /*indicamos que el margen superior, es la mitad de la altura*/

        margin-top:-150px;

        border:1px solid #808080;
        
        border-radius: 10px;

        padding:5px;
}

p {
    padding-left: 5em;
}

a {text-decoration:none;}